html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: bisque;
}

.calculator {
  background: black;
  width: 401px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  // height: 401px;
}