.btn {
  background-color: #222222;
  display: inline-flex;
  padding: 2px 3px;
  width: 100px;
  height: 100px;

  color: white;

  border-top: 1px solid white;
  border-left: 1px solid white;

  justify-content: center;
  align-items: center;

  cursor: pointer;


  &.orange {
    background-color: #e27616;
  }

}